.intro {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
}

.intro > .author-avatar {
    max-width: 30%;
}

.author-avatar {
    border-radius: 50%;
}

blockquote {
    border: 0;
    font-style: italic;
}

.header__logo {
    border-bottom: 1px solid var(--accentColor);
}

.header__logo::after {
    display: none;
}

.logo {
    color: var(--accentColor);
    background-color: transparent;
}
