@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.intro {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
}

.author-avatar {
    max-width: 30%;
}

.content {
    font-family: 'Open Sans', sans-serif;
}

.author-avatar {
    border-radius: 50%;
}

blockquote {
    border: 0;
    font-style: italic;
}

.header__logo {
    border-bottom: 1px solid var(--accentColor);
}

.header__logo::after {
    display: none;
}

.logo {
    color: var(--accentColor);
    background-color: transparent;
}
