<div class="intro">
    {{ if .Get "withImage" }}
    <img src="/me_summertime.jpg" class="author-avatar" title="Me">
    {{ end }}
    <div>
        <p>Hi there! 👋</p>
        <p>
            My name is Michal Pasierbski, I'm a software engineer at Google.
            This is my (mainly about work) personal blog.
        </p>
        <p>You can find me also at:</p>
        <ul>
            <li>Twitter <a href="https://twitter.com/mpasierbski" target="blank">@mpasierbski</a></li>
            <li>LinkedId <a href="https://www.linkedin.com/in/mpasierbski/" target="blank">mpasierbski</a></li>
            <li>GitHub <a href="https://github.com/pasierb" target="blank">pasierb</a></li>
        </ul>
    </div>
</div>
